body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #e2e3e8 !important;
    header{
        nav{
            // background: #e2e3e8;
            div{
                
                .website_logo{
                    img{
                        width: 5rem;
                    }
                }
            }
        }
    }
    main{
        div{
            div{
                p{
                    #tempreture{
                        font-size: 5rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}